﻿@{
    ViewBag.Title = "Create";
}
<h2>Create</h2>
<div>
    <label>Title</label>
    @Html.TextBox("TaskTitle")
</div>
<div>
    <label>Task Summary</label>
    @Html.TextBox("Summary")
</div>
<div>
    <label>Date of Completion</label>
    @Html.TextBox("completiondate")
</div>
<div>
    <button id="btnAdd">Add</button>
    @Html.ActionLink("Back to List", "ListItems")
</div>

<script type="text/javascript">

        $("#btnAdd").click(function () {

            var TaskDetails = {
                "TaskTitle": $("#TaskTitle").val(),
                "Summary": $("#Summary").val(),
                "completiondate": $("#completiondate").val(),
            };

            $.ajax({
                type: "POST",
                //url: 'http://localhost:28206/api/PersonalDetails/PostPersonalDetails',
                url: 'http://localhost:54828/todo/insert/ToDoDetails/PostToDoDetails',
                data: JSON.stringify(TaskDetails),
                contentType: "application/json;charset=utf-8",
                success: function (data, status, xhr) {
                    alert("The result is : " + status + ": " + data);
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        });
</script>